<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define Laptop as a bean -->
    <!-- <bean id="computer" class="com.example.Computer"></bean> -->
    <bean id="comp2" class="com.example.Laptop" lazy-init="true"></bean>
    <!-- <bean id="comp3" class="com.example.Desktop" primary="true"></bean> -->
    <!-- <bean id="desktop" class="com.example.Desktop"></bean> -->

    <!-- Define Alien bean, injecting Laptop -->
    <bean id="alien" class="com.example.Alien" autowire="byType">
        <!-- <property name="comp" ref="comp"></property> -->
        <!-- <constructor-arg index="0" value="32"/>   
        <constructor-arg index="1" ref="laptop"/>  -->
        <!-- <constructor-arg index="2" ref="desktop"/> -->
    </bean>

</beans>
