<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="laptop" class="com.example.Laptop"></bean>
    
    <bean id="alien" class="com.example.Alien">
        <!-- <property name="lap" ref="laptop"></property> -->
        <constructor-arg type="com.example.Laptop" ref="laptop"/>
        <constructor-arg value="32"/>
        
    </bean>
    
</beans>